<div class="row">
<div class="admins col-md-8 col-sm-10">
<h2 class="text-center" style='padding-bottom:10px;'> Admins</h2>

<button type="button" class="btn addadmin"  routerLink="/adminlayout/createAdmin">Add New Admin</button>


<button type="button" class="btn btn-danger delbtn">Delete</button>


    <table class="table">
        <thead class="thead-dark">
          <tr>
             <th><input type="checkbox" id="adminheader" name="adminheader"></th> 
            <th scope="col">Name</th>
            <th scope="col">Rule</th>
            <th scope="col">Date of Creation</th>
            <th scope="col">User Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" id="admincheck1" name="admincheck1"></td>
            <td scope="row">ali</td>
            <td>admin</td>
            <td>1-5-1990</td>
            <td>ali22</td>
          </tr>
          <tr>
            <td><input type="checkbox" id="admincheck2" name="admincheck2"></td>
            <td scope="row">fathi</td>
            <td>admin</td>
            <td>1-9-2012</td>
            <td>fathi22</td>
          </tr>
          <tr>
            <tr>
                <td><input type="checkbox" id="admincheck3" name="admincheck3"></td>
                <td scope="row">sayed</td>
                <td>admin</td>
                <td>1-3-2012</td>
                <td>sayed22</td>
              </tr>
              <tr>
        </tbody>
      </table>
      
     
</div>
</div>