<!--nav-->
<!-- <body style="height:100%">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Luxorna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/login" >Login</a>
      </li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="assets/pictures/1.jpeg" width="50px" height="40px">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Profile</a>
      
        </div>
      </li>
    </ul>
  </div>
</nav>  -->
<!--nav-->


<!--side bar-->

<!-- <div class="conbody">
    <div class="row">
      
 
      <div class="col-sm-3 sidebar">
       
            <h3><a routerLink="/main">Dashborad</a></h3>  -->
            <!--no-->

            <!-- <select name="Products" id="Products">
              <option value="products"><a router>products</a></option>
              <option value="Sections">Sections</option>
              <option value="Places">Places</option>
              <option value="Admins">Admins</option>
            
            </select> -->
              <!--no-->
             <!-- <h4>Products</h4>
            <a href="#" class="section"  routerLink="/section">Sections</a>
            <a href="#" class="section"   routerLink="/places">Places</a>
            <a href="#" class="section">Admins</a>
          

            <a href="#" class="web">Go To WebSite</a>
        </div>
     -->
      <!--sidebar-->         
        <!-- <div class="col-sm-9">

           <div class="container">
          <router-outlet>


          </router-outlet> 
        </div>

        </div>
            
    </div>
</div> 
</body> -->

<router-outlet>


</router-outlet> 


