<div class=row>
    <div class="main-container col-md-7">
     <h2 class="text-center">Add New Temple</h2>
     <!-- <h3 class="text-center">Hotel</h3> -->
    
    
     <button type="button" class="btn savebtn"   (click)="addTemple()">Save</button>
    
     <button type="button" class="btn cancelbutn">Cancel</button>
    <!--start of hotels -->
    <div class="temples">
    
        <form>
            <div class="form-group">
                <label for="">Name </label>
                <input type="text" class="form-control" id="name" [(ngModel)]="TempleName" name="TempleName" aria-describedby="emailHelp">
    
            </div>
    
    
    
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="TempleDescription" name="TempleDescription" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="description">Address</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="Address" name="Address" rows="3"></textarea>
            </div>
    
    
            <div class="form-group">
                <label for="description">Ticket Price</label>
                <input type="text" class="form-control" id="price" [(ngModel)]="TicketPrice" name="TicketPrice">
            </div>
    
    
           
            <button class="btn btn-outline-secondary" type="button" (click)="upload()">Upload</button>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" (change)="onFileChange($event)"  accept="image/*" name="TempleImages" class="custom-file-input" id="inputGroupFile04"  multiple>
                    <label class="custom-file-label" for="inputGroupFile04">Choose Image</label>
                     <!-- <input type="button" value="Upload" (click)="upload()"> -->
        
                </div>
                <br/>
                <!-- <img *ngFor='let url of HotelImages' [src]="url" height="150" width="200px" style="margin: 3px;"> <br/> -->
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Cancel</button>
                </div>
            </div>
    
    
            
    
        </form>
    </div>
    <!--end of hotel-->
    </div>
    </div>