<div class="main-container">
  <div class="row">
    <div class="col-md">
      <div class="card ">
        <li><i class="fas fa-users fa-3x"></i></li>
        <!-- <img class="card-img-top" src="..." alt="Cad icon"> -->
        <div class="card-body">
          <h5 class="card-title">54.0000</h5>
          <p class="card-text">Visitors Numbers</p>
  
        </div>
      </div>
    </div>
  
    <div class="col-md">
      <div class="card">
        <li><i class="fas fa-users fa-3x"></i></li>
        <div class="card-body">
          <h5 class="card-title">15.000 </h5>
          <p class="card-text">New Visitors</p>
          <p class="card-text">In the Last 24 Hours</p>
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="row">
    <div class="col-md">
      <div class="card">
        <li><i class="fas fa-users fa-3x"></i></li>
        <div class="card-body">
          <h5 class="card-title">50.000</h5>
          <p class="card-text">Accounts Numbers</p>
  
        </div>
      </div>
  
    </div>
  
  
    <div class="col-md">
      <div class="card">
        <li><i class="fas fa-users fa-3x"></i></li>
        <div class="card-body">
          <h5 class="card-title">10.000</h5>
          <p class="card-text">packages numbers</p>
  
        </div>
      </div>
    </div>
  </div>
  
  </div>