
    <h3>Update section</h3>
    <div class="btn-group m-3" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-secondary mr-4" routerLink="/adminlayout/section">Update</button>
      <button type="button" class="btn btn-outline-secondary ">cancel</button>
    
    </div>
    
    <div class=" col-md-6 ">
        <div class="form-group">
      
     <input type="email" class="form-control  inpst" id="exampleInputName"  placeholder="Enter section name">
      </div>
     <!--textarea-->
     <div class="form-group">

      <textarea class="form-control inpst  " id="exampleFormControlTextarea1"   placeholder="Details" rows="3"></textarea>
    </div>
     <!--textarea-->
    
    <div class="input-group  ">
      <div class="custom-file  mb-4 ">
        <input type="file" class="custom-file-input  " id="inputGroupFile04">
        <label class="custom-file-label" for="inputGroupFile04">Upload image</label>
      </div>
      <div class="input-group-append mb-3">
        <button class="btn btn-outline-secondary " type="button">Button</button>
      </div>
    </div>
    <div >
      <button   class="calcbtn mb-4" type="button">cancel</button>
    
    </div>
    <input class="form-control" id="disabledInput" type="text" placeholder="DATA...." disabled>
    
    
    </div>
  
    
