



    <h2 class="text-center">Section</h2>
 

<div class="row">
    <div class="col-md-3">
    <div class="btn-group ">
        <button class="btn add-btn" type="button" routerLink="/adminlayout/addsection">Add new Section</button>
        <button class="btn del-btn"  type="button">Delete</button>
    </div>
    </div>
  <div class="col-md-3">
        <div class="md-form active-purple active-purple-2 mb-3">
         <input class="form-conatrol" type="text" placeholder="Search" aria-label="Search">
        </div>
  </div>
</div>
  
    
     
        <table class="table table-bordered table-striped table-hover  ">
          <thead  class="thead-dark">
            <tr>
              <th scope="col">Select Day</th>
              <th scope="col">Image</th>
              <th scope="col">Name of section</th>
             </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1">1</label>
                </div>
              </td>
              <td class="w-25">
                <img src="assets/pictures/12.jpg" class="img-fluid img-thumbnail" >
            </td>
              <td> <a href="#" routerLink="/adminlayout/updatesection"> Hotels</a></td>
              <!-- <td>913</td>
              <td>2.846</td> -->
            </tr>

            <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                      <label class="custom-control-label" for="customCheck1">2</label>
                  </div>
                </td>
                <td class="w-25">
                  <img src="assets/pictures/3.jpg" class="img-fluid img-thumbnail" >
              </td>
              <td> <a href="#" routerLink="/adminlayout/updatesection"> Temples</a></td>
                <!-- <td>913</td>
                <td>2.846</td> -->
              </tr>


              <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                      <label class="custom-control-label" for="customCheck1">3</label>
                  </div>
                </td>
                <td class="w-25">
                  <img src="assets/pictures/4.jpg" class="img-fluid img-thumbnail" >
              </td>
              
                <td> <a href="#" routerLink="/adminlayout/updatesection">Nile crusie</a></td>
                
                <!-- <td>913</td>
                <td>2.846</td> -->
              </tr>
           


              <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                      <label class="custom-control-label" for="customCheck1">4</label>
                  </div>
                </td>
                <td class="w-25">
                  <img src="assets/pictures/5.jpg" class="img-fluid img-thumbnail" >
              </td>
             
                <td> <a href="#" routerLink="/adminlayout/updatesection">Restaurant</a></td>
                <!-- <td>913</td>
                <td>2.846</td> -->
              </tr>
           


         
          </tbody>
        </table>
      

    
     



