
<div class="row">
<div class="form-container col-md-7">

<h2 class="text-center" style="padding-bottom: 30px;">Create New Admin</h2>

<form>
  <div class="form-group">
   
    <input type="text" class="form-control" id="fname" aria-describedby="emailHelp" placeholder="First Name">
   
  </div>


  <div class="form-group">
   
    <input type="text" class="form-control" id="lname" placeholder="Last Name">
  </div>
 
  <div class="form-group">
 
    <input type="text" class="form-control" id="username" placeholder="User Name">
  </div>


  <div class="form-group">
  
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
 

  <div class="form-group">
   
    <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password">
  </div>

  <!--add image-->
 
  <div class="input-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile04">
      <label class="custom-file-label" for="inputGroupFile04">Choose Image</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Upload</button>
    </div>
  </div>

 <!--add image-->
  <button type="submit" class="btn add" routerLink="/adminlayout/admins">Add</button>
</form>
</div>
</div>
