.main-container{
    padding-top: 40px;
    padding-bottom: 40px;
    
    }
    .savebtn,.cancelbutn{
        background-color:#353a40  ;
        color: #ffffff;
        font-size: 1.1rem;
        
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        transition: all .5s ease-in-out;
    }
    
    .savebtn:hover ,.cancelbutn:hover{
        background-color: #74b9ff;
    }
    
    h2{
        margin-bottom: 40px;
    }
    
    .images{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    @media (max-width: 575.98px) { 

        .images>div{
            margin-bottom: 5px;
            text-align: center;
        }
     }
