<div class=row>
    <div class="main-container col-md-7">
     <h2 class="text-center">Update Hotel</h2>
     <!-- <h3 class="text-center">Hotel</h3> -->
    
    
     <button type="button" class="btn savebtn"   (click)="updateHotel()">Save</button>
    
     <button type="button" class="btn cancelbutn">Cancel</button>
    <!--start of hotels -->
    <div class="hotels">
    
        <form>
            <div class="form-group">
                <label for="">Name </label>
                <input type="text" class="form-control" id="name"  [(ngModel)]="HotelName" name="HotelName" aria-describedby="emailHelp">
    
            </div>
    
    
    
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]="HotelDescription" name="HotelDescription" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="description">Address</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="Address" name="Address" rows="3"></textarea>
            </div>
    
    
            <div class="form-group">
                <label for="description">Price</label>
                <input type="text" class="form-control" id="price"[(ngModel)]="HotelPrice" name="HotelPrice">
            </div>
    
    
            <div class="form-group">
                <select (change)="selectChangeHandler($event)" name="Hotel" [(ngModel)]='HotelStars' (ngModelChange)='onOptionsSelected($event)' class="custom-select" required>
                    <option value="0">stars</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
    
            </div>
    
            <button class="btn btn-outline-secondary" type="button" (click)="upload()">Upload</button>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile04"  multiple>
                    <label class="custom-file-label" for="inputGroupFile04">Choose Image</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Cancel</button>
                </div>
            </div>
    
    
            
    
        </form>
    </div>
    <!--end of hotel-->
    </div>
    </div>